/* global variables */
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/black-jack-api/img/2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
img {
  height: 35vh;
}
h1 {
  font-size: 55px;
  font-weight: 800;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.8);
}
h2 {
  font-size: 45px;
  margin: 30px;
}
.body-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container {
  height: 80vh;
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
/* title */
.title-container {
  border: 1px solid red;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-user-secret {
  font-size: 45px;
  margin: 20px;
}
/* players */
.player1-container {
  height: 80%;
  border: 1px solid red;
  display: flex;
}
.player1-title {
  border: 1px solid red;
  flex: 1;
  margin: auto;
}
.img1-container {
  flex: 2;
  border: 1px solid red;
  margin: auto;
}
.btn-lg {
  padding: 20px 60px;
}
.btn-outline-secondary {
  color: #fff;
  border: 1px solid #fff;
}
.btn-outline-secondary:hover {
  background-color: #1818182e;
}
.display-value {
  padding: 40px;
  font-size: 40px;
}
.winner {
  font-size: 40px;
}
